<h1>Dragon ball Z</h1>
<hr>


<div class="row">
    <div class="col">
        <app-personajes [personajes]="personajes"></app-personajes>
        <!-- <ul>
            <h3>Personajes</h3>
            <hr>
            <li *ngFor="let personaje of personajes">
                {{personaje.nombre}} - {{personaje.poder}}
            </li>
        </ul> -->
    </div>
    <div class="col">
        <app-agregar 
        [nuevo]="nuevo"
        (onNuevoPersonaje)="agregarNuevoPersonaje($event)"
        ></app-agregar>
        <!-- <h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="agregar()">

            <input 
            name="nombre"
            [(ngModel)]="nuevo.nombre"
            type="text" 
            placeholder="Nombre" />

            <input 
            name="poder"
            [(ngModel)]="nuevo.poder"
            type="number"
            placeholder="Poder" />


            <button type="submit">Agregar</button>
        </form> -->
    </div>

</div>

